# Dependencies
node_modules

# Build output
dist
.partykit

# Environment files
.env
.env.local
.env.development
.env.production
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
